all:
  children:
    range42_infrastructure:
      children:
        r42_student_box_group:
          hosts:
            r42.student-box-00:
            r42.student-box-01:
            r42.student-box-02:
            r42.student-box-03:

        proxmox:
          hosts:
            {{ INFRASTRUCTURE_CODENAME }}:
              ansible_host: {{ INFRASTRUCTURE_PROXMOX_ADDRESS | mandatory }}:8006
              ansible_connection: local
              ansible_python_interpreter: /usr/bin/python3

        proxmox-cli:
          hosts:
            {{ INFRASTRUCTURE_CODENAME }}-cli:
